extends layouts/frontend

include mixins/products

block content
  h1 Accueil de la boutique
  p Bienvenue sur la boutique Node Shop !
  hr

  h2 Nos derniers produits
  section.products-list
    each product in products
      +productCard(product)
        a.button(href=`/basket/add/${product._id}`) Ajout au panier