extends layouts/frontend

include mixins/products

block content
  h1 Liste des produits
  p Retrouvez ici tous nos produits
  hr

  section.products-list
    each product in products
      +productCard(product)
        a.button(href=`/basket/add/${product._id}`) Ajout au panier